In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
from datetime import datetime

In [ ]:
# Set the path of the files in your Google Drive
#file_path1 = '/content/drive/MyDrive/csv_file1.csv'
file_path2 = '/content/drive/MyDrive/P2M/df2-2.csv'
#file_path3 = '/content/drive/MyDrive/csv_file3.csv'

# Read the CSV files into separate dataframes
#df1 = pd.read_csv(file_path1)
#df2 = pd.read_csv(file_path2)
#df3 = pd.read_csv(file_path3)

# Concatenate the dataframes into one
df_winter = pd.read_csv(file_path2)

df_winter['date'] = pd.to_datetime(df_winter['date'])
# Set the date column as the index
df_winter.set_index('date', inplace=True)

In [ ]:
# Set the path of the files in your Google Drive
file_path1 = '/content/drive/MyDrive/P2M/df2-3.csv'
file_path2 = '/content/drive/MyDrive/P2M/df2-4.csv'
file_path3 = '/content/drive/MyDrive/P2M/df2-5.csv'

# Read the CSV files into separate dataframes
df1 = pd.read_csv(file_path1)
df2 = pd.read_csv(file_path2)
df3 = pd.read_csv(file_path3)

# Concatenate the dataframes into one
df_spring = pd.concat([df1, df2, df3])

df_spring['date'] = pd.to_datetime(df_spring['date'])
# Set the date column as the index
df_spring.set_index('date', inplace=True)

In [ ]:
# Set the path of the files in your Google Drive
file_path1 = '/content/drive/MyDrive/P2M/df2-6.csv'
file_path2 = '/content/drive/MyDrive/P2M/df2-7.csv'
file_path3 = '/content/drive/MyDrive/P2M/df2-8.csv'

# Read the CSV files into separate dataframes
df1 = pd.read_csv(file_path1)
df2 = pd.read_csv(file_path2)
df3 = pd.read_csv(file_path3)

# Concatenate the dataframes into one
df_summer = pd.concat([df1, df2, df3])

df_summer['date'] = pd.to_datetime(df_summer['date'])
# Set the date column as the index
df_summer.set_index('date', inplace=True)

In [ ]:
# Set the path of the files in your Google Drive
file_path1 = '/content/drive/MyDrive/P2M/df2-9.csv'
file_path2 = '/content/drive/MyDrive/P2M/df2-10.csv'
file_path3 = '/content/drive/MyDrive/P2M/df2-11.csv'

# Read the CSV files into separate dataframes
df1 = pd.read_csv(file_path1)
df2 = pd.read_csv(file_path2)
df3 = pd.read_csv(file_path3)

# Concatenate the dataframes into one
df_autumn = pd.concat([df1, df2, df3])

df_autumn['date'] = pd.to_datetime(df_autumn['date'])
# Set the date column as the index
df_autumn.set_index('date', inplace=True)

In [ ]:
# Add day_of_week feature
df_spring['day_of_week'] = df_spring.index.dayofweek 

# Add time_of_day feature
df_spring['time_of_day'] = df_spring.index.time

# Add cumul_of_day feature
df_spring['cumul_of_day'] = df_spring.groupby(df_spring.index.date)['cumul'].apply(lambda x: x - x.min())

# Add order_of_day feature
df_spring['order_of_day'] = df_spring.groupby(df_spring.index.to_period('W')).ngroup() + 1

# Print the updated dataframe
df_spring.tail()

,debit,cumul,time_of_day,day_of_week,cumul_of_day,order_of_day
date,,,,,,
2022-05-31 23:22:47,0.0,21048.7,23:22:47,1,162.1,14
2022-05-31 23:23:02,0.0,21048.7,23:23:02,1,162.1,14
2022-05-31 23:23:17,0.0,21048.7,23:23:17,1,162.1,14
2022-05-31 23:23:32,0.0,21048.7,23:23:32,1,162.1,14
2022-05-31 23:23:59,0.0,21048.7,23:23:59,1,162.1,14

In [ ]:
import pandas as pd

# create an empty DataFrame to hold the results
df_spring_2 = pd.DataFrame(index=range(1, 15), columns=range(7))

# iterate over all pairs of i and j values
for i in range(7):
    for j in range(1, 15):
        # filter the original DataFrame to get the relevant rows
        mask = (df_spring["day_of_week"] == i) & (df_spring["order_of_day"] == j)
        rows = df_spring.loc[mask]
        
        # get the maximum value of cumul_of_day from the filtered rows
        max_cumul_of_day = rows["cumul_of_day"].max()
        
        # store the result in the appropriate cell of the new DataFrame
        df_spring_2.loc[j, i] = max_cumul_of_day

In [ ]:
df_spring_2.tail()

        0      1      2      3      4      5    6
10  100.7  167.6    0.0  128.4  136.7    0.0  0.0
11  218.9  173.8  199.1  173.4  145.8  108.5  0.0
12  113.4  155.9  161.4  156.0  152.2    5.6  0.0
13  188.1  162.6  182.3  163.7  146.0   34.4  0.0
14  143.2  162.1    NaN    NaN    NaN    NaN  NaN

In [ ]:
import matplotlib.pyplot as plt

# loop over all days of the week
for day in range(7):
    # get the maximum and minimum order_of_day values for the current day
    max_value = df_spring_2[day].max()
    max_idxs = df_spring_2[df_spring_2[day] == max_value].index
    min_value = df_spring_2[day].min()
    min_idxs = df_spring_2[df_spring_2[day] == min_value].index

    # get the lines that correspond to the max and min order_of_day values for the current day
    max_lines = df_spring[(df_spring["order_of_day"].isin(max_idxs)) & (df_spring["day_of_week"] == i)]
    min_lines = df_spring[(df_spring["order_of_day"].isin(min_idxs)) & (df_spring["day_of_week"] == i)]


# Convert datetime values to matplotlib "date" values
x_values = mdates.date2num(result_df["time_of_day"])
plt.scatter(x_values, max_lines["cumul_of_day"])
plt.xlabel("Time of day")
plt.ylabel("Cumulative of day")
plt.show()

# display the plot
plt.show()

ValueError: ignored